@import "global.scss";
@import "variables.scss";
@import "typography.scss";

canvas {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}


body::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;   
    height: 100%; 
    width: 100%; 
    z-index: 1;
    //background-image: linear-gradient(to top right, red 30%, blue 70%) ;
    //opacity: .5;
    display: none;
}
  
#shoot { 
    right: 0; 
    display: block;
    width: 30%;
    position: fixed;
    width: 50%;
    top: 0;
    bottom: 0; 
    z-index: 10000000; 
} 

.intro {
    pointer-events: none;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: .25em;
    text-shadow: 0 0 2em rgb(0, 0, 169), 0 0 1em blue;
    height: 100%; 
    width: 100%; 
    z-index: 100;
    top: 0;  
    color: #fff;
    flex-direction: column; 
}

.introold {
    pointer-events: none;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: .25em;
    height: 100%; 
    width: 100%; 
    z-index: 100;
    top: 0; 
    background-color: #000;
    color: #fff;
    flex-direction: column;
    mix-blend-mode: multiply; 
}

.start {
    font-family: joystix;
    margin-top: 4em;
    font-size: clamp(1em, min(3.5vw, 3.5vh), 1.25em);
    letter-spacing: .1em;
    white-space: nowrap;

    @media (max-width: 800px) {
        position: absolute;
        left: 50%;
        bottom: 10vh;
        transform: translateX(-50%);
    }
}

.title {
    font-size: min(9vw, 15vh); 
    font-weight: bold; 
    line-height: 1; 
    letter-spacing: -.01em;

    @media (max-width: 700px), (max-height: 500px) { 
        line-height: .9;
    }

    @media (max-width: 700px) {
        margin-bottom: 0; 
    }
}

#loading {
    position: absolute;
    font-size: clamp(1em, min(1vw, 1vh), 1.25em);
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
}