@import "global.scss";
@import "variables.scss";
@import "typography.scss";

canvas {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
  
#shoot { 
    right: 0; 
    display: block;
    width: 30%;
    position: fixed;
    width: 50%;
    top: 0;
    bottom: 0; 
    z-index: 10000000; 
} 