@import "global.scss";
@import "variables.scss";
@import "typography.scss";

canvas {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
  
#shoot { 
    right: 0; 
    display: block;
    width: 30%;
    position: fixed;
    width: 50%;
    top: 0;
    bottom: 0; 
    z-index: 10000000; 
} 

.title {
    line-height: .8;
    font-size: min(22vw, 33vh);
    transition: opacity 1.5s .15s;
    background-color: #000;
    font-weight: 400;
    color: #fff;
    mix-blend-mode: multiply; 
    font-family: edunline;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: .25em;
    height: 100%; 
    width: 100%; 
    z-index: 100;
    top: 0; 
}

#loading {
    position: absolute;
    font-size: 1.25em;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
}