html {
    font-family: joystix;
    font-weight: 400;
    font-size: 1em;
    color: var(--text-color);
}

@font-face {
    font-family: "joystix";
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/joystix.woff2) format("woff2");
}

@font-face {
    font-family: "editundo";
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/editundo.woff2) format("woff2");
} 

@font-face {
    font-family: "edundot";
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/edundot.woff2) format("woff2");
} 

@font-face {
    font-family: "edunline";
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/edunline.woff2) format("woff2");
} 
